{% extends 'hr-home1.html' %}
{% block content %}
<div class="row">
  <section class="main">
    <div class="col-md-12" style="background: rgba(0, 0, 0, 0.4); height:750px; box-shadow: -1px 1px 60px 10px black inset; position: absolute; margin-top: 2%; margin-left: 38%; width: 60%; ">
      <h1 class="text-center" style="font-size: 40px; color: black; margin-top: 20px; margin-bottom: 30px; margin-left: 5%; "><b>REGISTER</b></h1>
      <form >
          <div class="form-row">
            <label for="user" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 1%;" ><b>User_id</b></label>
            <div class="form-group col-lg-10">
              <input type="email" class="form-control" id="text" placeholder=" Enter your id" style="width: 80%;" required>
            </div>
          </div>
          <div class="form-group row">
            <label for="name" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Name</b></label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="name" placeholder=" Enter your name" style="width: 80%;" required>
            </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Address</b></label>
              <div class="col-lg-10">
                <input type="password" class="form-control" placeholder=" Enter your address" id="add" required>
              </div>
          </div>
          <div class="form-group row">
              <label for="dob" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>DOB</b></label>
              <div class="col-lg-10">
                <input type="date" class="form-control" id="inputPassword3" placeholder="dd/mm/yyyy" style="width: 35%;" >
              </div>
          </div>
          <div class="form-group row">
              <label for="gender" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Gender</b></label>
              <div class="col-lg-10">
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" style="margin-left: 1%;"  >
                  <label class="form-check-label" for="inlineRadio1" style="padding-left: 5%;" >Male</label>
                  <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" style="margin-left: 5%;">
                  <label class="form-check-label" for="inlineRadio1" style="padding-left: 9%;">Female</label>
              </div>
          </div>
          <div class="form-group row">
              <label for="contact" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Mobile_no</b></label>
              <div class="col-lg-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Enter your Mobile no" style="width: 80%;" required>
              </div>
          </div>
          <div class="form-group row">
              <label for="qualification" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Qualification</b></label>
              <div class="col-lg-10">
                <select class="form-control"  style="width: 80%;">
                    <option >Select...</option>
                    <option >MCA</option>
                    <option >BCA</option>
                    <option >MSC CS</option>
                    <option >BSC CS</option>
                    <option >B-TECH</option>
                </select>
            </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Department</b></label>
              <div class="col-lg-10">
                <select class="form-control"  style="width: 80%;">
                    <option>Select...</option>
                    <option></option>
                    <option></option>
                </select>
             </div>
          </div>
          <div class="form-group row">
              <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size:18px; padding-left: 3%;"><b>Position</b></label>
              <div class="col-lg-10">
                <select class="form-control" style="width: 80%;">
                    <option>Select...</option>
                    <option>Software Testing</option>
                    <option>Python Developer</option>
                    <option>Software Developer</option>
                    <option>Software Engineer</option>

                </select>
              </div>
          </div>
          <div class="form-group row">
            <label for="inputPassword3" class="col-sm-2 col-form-label" style="font-size:18px; padding-left:3%;"><b>Email</b></label>
            <div class="col-lg-10">
              <input type="password" class="form-control" id="inputPassword3" placeholder="Enter your Email id" style="width: 80%;" required>
            </div>
          </div>
          <div class="btn-group inline pull-left" > 
            <a href="#"><div class="btn btn-info" style="margin-top: 40px; margin-left: 70%; width: 180px; font-size: 19px; border-radius: 1000px;">Submit</div></a> 
          </div>
          <div class="btn-group inline pull-left" > 
            <a href="#"><div class="btn btn-info" style="margin-top: 40px; margin-left: 75%; width: 180px; font-size: 19px; border-radius: 1000px;">Reset</div></a> 
          </div> 
          
          
          
          
         
        </form>
  </div>



  </section>
    
</div>

{% endblock %}